@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid #f472b6;
  /* default pink color */
  background: none;
}

button {
  cursor: pointer;
}

/* Tooltip override */
.wui-heat-map rect:hover {
  stroke: white;
  stroke-width: 2px;
  cursor: pointer;
}

.wui-heat-map .wui-tooltip {
  background: rgba(0, 0, 0, 0.7) !important;
  color: #fff !important;
  font-weight: 500;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 12px;
  backdrop-filter: blur(6px);
}

/* Add in your global CSS or Tailwind config file */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 8px;
}